.row
  .container
    .card
      .card-image.waves-effect.waves-block.waves-light
        %center
          =image_tag("aida.jpg",:style=>"width:600px;")
      .card
        .container
          .row{:style=>"padding-top:1em;"}
            %p
              %blockquote
                %h4 Nombre: Aida Leonor Turcios Marinero
            %p
              %blockquote
                %h4 Nacionalidad: Salvadoreña

            %p
              %b Objetivos
              %ol
                %b
                  %li Clasificar al Campeonato del Mundo Ironman 140.6
                  %li Realzar el nombre de El Salvador internacionalmente
                  %li Demostrar que todos los sueños se pueden hacer realidad con sacrificio y dedicación
                  %li Ser motivación para mujeres y futuras atletas para llevar una vida sana y demostrar que el deporte es un estilo de vida que contribuye a la convivencia social.
              %blockquote
                %b QUIEN ES AIDA TURCIOS?
              %p Desde pequeña fue una niña que era parte de todas las selecciones del colegio, volleyball, basket, atletismo y natación. Fue campeona estudiantil en natación; disciplina en la cual gano innumerables medallas en campeonatos nacionales.
              %p 2001 Inicio su carrera como seleccionada nacional de Remo de El Salvador este año marco el camino a una etapa de triunfos y logros que a sus 15 años parecían inalcanzables entre los que destacan:
              %ol
                %b
                  %li 2002- Primer Lugar Individual Juegos Centroamericanos y del Caribe
                  %li 2002- Octavo lugar Copa del Mundo de Remo (Sevilla, España)
                  %li 2003- Noveno lugar Campeonato del Mundo (Munich, Alemania)
                  %li 2003- Octavo lugar Campeonato del Mundo de Remo (Milan, Italia)
                  %li 2006- Decimosexto lugar en Campeonato del Mundo (Eton, Inglaterra)
                  %li 2010- Segundo lugar Juegos Suramericanos (Sao Paulo, Brazil)
              %blockquote
                %p 2013 Inicio su carrera como triatlonista en la que ha logrado estar en el podio en los siguientes eventos:
              %ol
                %b
                  %li 2013- Primer Lugar Ironman 70.3 Costaman 2013 (El Salvador)
                  %li 2014- Primer Lugar Ironman 70.3 Costaman 2014 (El Salvador)
                  %li 2014- Primer Lugar Ironman 70.3 Gran Jaguar (Guatemala)
                  %li 2015- Primer Lugar Ironman 70.3 Herbalife (El Salvador)
                  %li 2015- Primer Lugar Ironman 70.3 Costaman 2015 (El Salvador)
                  %li 2015- Cuarto Lugar Age group 25-29 Ironman 140.6 Cozumel (Mexico)
                  %li 2016- 8avo lugar Age group 30-35 Ironman 70.3 (Panama) World championship Qualifier
              %blockquote Además ha participado en 2 maratones con una destacada participación en Las Vegas Rock and Roll Marathon:
              %ol
                %b
                  %li 2014- Las Vegas Rock and Roll Marathon
              %blockquote Tambien participa en diversas carreras de 5km, 10km, 21km, duatlones y triatlones en El Salvador.
              %ol
                %b
                  %li 2015- Subcampeona nacional de Contrarreloj
