.row
	.container
		.card
			.card-image.waves-effect.waves-block.waves-light
				%center
					=image_tag("claudia.jpeg",:style=>"width:600px;")
			.card
				.container
					.row{:style=>"padding-top:1em;"}
						%p
							%blockquote
								%h4 Nombre: Claudia Margarita Vilanova Noltenius
						%p
							%blockquote
								%h4 Nacionalidad: Salvadoreña

						%p
							Sus inicios   fueron en natación desde la edad de 6 años hasta los 17 años. En este deporte represento a El Salvador en Mexico, Panama, Colombia , Guatemala y Estados Unidos.
						%p
							En 1978 y 1979 gano varios eventos de natación Y atletismo en la Universidad Católica José Simeon Cañas.
						%p
							En 1985 realizó su  primer evento de triatlón quedando en 1er.lugar. En 1977 dio a luz a una niña que la mantuvo ese año fuera de competiciones deportivas., luego cambia de domicilio y regresa  1987 y 1988 donde  realizó  algunos eventos de triatlón a nivel nacional.
						%p
							En 1989 y 1990  se mantuvo  entrenando y ejercitándose  aunque no realizó ninguna competencia.
						%p
							En 1991 y 1992 participa en los centroamericanos Master de  Atletismo representando a El Salvador y ganando 2do.lugar en los eventos de velocidad en 100mts y 200 mts. Planos.
						%p
							En 1993  es llamada a formar parte de la selección de Triatlón  para representar a El Salvador en los Juegos Centroamericanos de 1994 celebrados en este país. Aquí  ocupó 5 to.lugar individual y  2do. Por equipo.
						%p
							En 1995 y 1996  se mantuvo entrenando esporádicamente y realizó algunos eventos de Triatlón.
						%p
							No es hasta principios de 1997 con la llegada de un Entrenador extranjero especialista en Triatlón a El Salvador,( Lic.Vladimir Cabrera Rodriguez de nacionalidad Cubana),  que comienza una brillante trayectoria en este deporte :
						%p
							1997:  1er. Lugar Campeonato Panamericano Puerto Vallarta-Mejico, Categoria 40-44.
							%br/
							Gano 8 eventos de 12 realizados a nivel nacional.
						%p
							1998  : 1er.  Lugar Campeonato Panamericano –Varadero, Cuba	Categoria 40-44
							%br/
							1er.lugar Campeonato Nacional
							%br/
							Acreedora de la Espiga Dorada otorgada por el INDES ( Instituto Nacional de los Deportes de El Salvador) a la mujer atleta femenina de Triatlón.-
						%p
							1998	:  2do.lugar Campeonato Centroamericano y del Caribe de Larga Distancia 70.3  , Rio Dulce, Guatemala. Categoria Elite.
							%br/
							1er.lugar Campeonato Nacional ganando todos las competencias realizadas a nivel nacional.
						%p
							2000	: 1er. Lugar  Campeonato  Panamericano, Cancun ,Mejico  Categoria 45-49.
							%br/
							Acreedora de la Espiga Dorada como mejor atleta femenina de Triatlón.
							%br/
							Gano la mayoría de los eventos de triatlón a nivel nacional
						%p
							2001	:  4to.lugar, Copa América de Triatlón, Puerto Quetzal, Guatemala, Categoría Elite a nivel Centroamericano.
							%br/
							2do. Lugar, competencia Internacional, Jalapa, Guatemala ,categoría Elite.
							%br/
							Hasta la fecha va ganando todos los eventos de Triatlón que ha participado.
							%br/
							Ostenta 3 records absolutos nacionales en 3 diferentes eventos de triatlón :
							%ol
								%li 1 hora  9min.( distancia media Sprint)
								%li 2 horas 21 min ( distancia olímpica)
								%li 5 Horas 25min ( Medio Ironman)
							%br/
							Forma parte de la selección Salvadoreña que nos representara en los Juegos Centroamericanos de Noviembre, 2001, en el evento de Triatlón, siendo la única atleta femenina con posibilidades de medalla para El Salvador
						%p
							2002: descanso activo durante todo ese año
						%p
							2003: Campeón Nacional  de los 1eros.Juegos Deportivos realizados por el INDES el 30 de Nov.del 2003.
						%p
							2011: Reanuda sus entrenamientos y comienza nuevamente a participar a nivel centroamericano
						%p
							2012: Se prepara para el año 2013 a participar en su primer medio Ironman
						%p
							2013: 1er.lugar Larga Distancia Medio Ironman 70.3   Costaman El Salvador , categoría 50+
							%br/
							2do. Lugar larga Distancia Medio Ironman- 70.3 categoria 50 + Puerto Quetzal , Guatemala.
							%br/
							3er.lugar en la categoría general Elite Femenino distancia  medio Ironman, Puerto Quetzal , Guatemala,
							%br/
							8vo.lugar en Ironman –Cozumel de 31 participantes en la categoría 55-59.
						%p
							2014: 1er.lugar en triatlones realizadas a nivel nacional durante el medio año.
							%br/
							1er.lugar en la categoría 55-59 en distancia  larga medio Ironman realizado en Miami, Fla., el 26 de Octubre  donde se clasifica para participar en el Campeonato Mundial de 70.3 en Austria –Europa en el 2015.
						%p
							2015: Gana el campeonato Nacional de Triatlon a nivel nacional.
							%br/
							3er.Lugar en el medio Ironman 70.3 de Tikal-guatemala  , categoría Elite Femenino.
						%p
							2016 Gana 1 er. Lugar en el campeonato Panamericano distancia medio Ironman 70.3 , relizado en Panama y clasificatorio para participar en el campeonato mundial a relaizarse en Australia en 4 de Septiembre del corriente año.
