.row
  %center
    %h2 La Primera Pinarello Dogma F8 Del País
  .row
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("dogma1.jpeg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("dogma2.jpeg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("dogma3.jpeg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("dogma4.jpeg")