.row
  %center
    %h2 Marca que representamos
  .row
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/pinarello.png")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/bianchi.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/quintana.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/shimano.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/louis_garneau.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/campagnolo.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/sram.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/continental.png")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/michelin.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/vittoria.png")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/parktool.png")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/fizik.jpg")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/kask.png")
    .col.s12.m4.l4
      .card
        .card-image
          =image_tag("marcas/zipp.jpg")
